
/* Global tag */
* {
    width: 100%;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* Header and nav bar */
header {
    display: flex;
    justify-content: center;
    background-color: lightsalmon;
    
}

header p {
    font-size: 8vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    
}

nav {
    display: flex;
    padding: 5px;
    
}

nav ul {
    list-style: none;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: nowrap;
    text-align: end;
   
}

nav li {
    margin: 0 70px;
    text-transform: black;
    margin-right: 70px;
    
}

nav a {
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
    color:black;
    transition: color 0.5;
}

nav a:hover {
    color: white
}

nav a::after {
    color: white
}

/* About me section with avatar */
#aboutme {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    color: red;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.avatar {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-top: 40%;
}

main {
    
    display: flex;
    justify-content: center;
    width: 60rem;
    margin-top: 10%;
}

.main-wrapper {
    display: flex;
    justify-content: center;
}

aside {
    width: 30rem;
}

/* Sections containing future and present work */

#work {
    padding: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

/* Styling for cards */
.title {
    font-family:monospace;
    text-transform: uppercase;
    margin: 1px;
    font-size: 4vw;
    text-align: center;
}

#holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
}

#main img {
    width: 100%;
    height: 100%;
}

.main-card {
    width: auto;
    height: 75%;
    padding: 10px;
    background-color: lightcoral;
    margin: 20px;
}

.main-card p {
    font-family:monospace;
    text-transform: uppercase;
    font-size: 45px;
    margin: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.main-card:hover {
    transform: translateX(150px);
    transition:transform .8s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.card {
    width: 270px;
    height: 300px;
    padding: 10px;
    background-color: lightcoral;
    margin: 20px;
    box-sizing: border-box;
}

.card img {
    width: 250px;
    height: 250px;

}

.card p {
    font-family: monospace;
    font-size: 15px;
    margin: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.card :hover {
    transform: translateX(150px);
    transition:transform .8s cubic-bezier(0.215, 0.610, 0.355, 1);
}

/* contact info */
#contact {
    display: flex;
    justify-content: flex-end;
    height: 90vh;
    align-items: flex-end;
}

.contact-box {
    width: 500px;
    background-color: white;
    box-shadow: 0 0 20px 0 #999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 20px;
    padding: 10px 30px;
    border-radius: 30px;
}

form {
    margin: 20px; 
}
.contact-word {
    font-size: 60px;
    position: absolute;
    margin-top: 2550px;
    display: flex;
    justify-content: center;
    font-family: monospace;

}

.input-field {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    border: 1pxs solid #777;
    border-radius: 14px;
    outline: none;
}

.textarea-field {
    height: 150px;
    padding-top: 10px;
}

.btn {
    border-radius: 20px;
    width: 200px;
    color: #fff;
    margin-top: 18px;
    padding: 10px;
    background-color: #47c35a;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: black;
}

footer {
    margin-bottom: 500px;
}

/* Mobile */
@media screen and (max-width:1080px) {
    header {
        display: block;
        width: 100%;
        padding-bottom: 30px;
    }

    form {
        display: block;
        width: 50%;
    }
}



